.git
.github
zig-out
zig-cache
.zig-cache
node_modules
site/dist
site/node_modules
clients/typescript/node_modules
examples/*/zig-out
examples/*/zig-cache
examples/*/frontend/node_modules
examples/*/frontend/dist
*.tar.gz
